@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  background:#003459 ;
  color:black;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background:#003459 ;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

h1{
  color:#2ec4b6;
}

.logo {
  float: left;
  font-size: 30px;
 
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav li a {
  color:whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav li a:hover {
  color: #2ec4b6;
}

#list-item::before {
  content: '';
  display: block;
  height: 5px;
  background-color:#2ec4b6;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

#list-item:hover::before {
  width: 100%;
}

button{
  border:none;
  color:black;
  background-color:#2ec4b6;
  border-radius:20px;
  padding:7px 12px;
  outline: none;
  transition: all 0.4s ease;
}
button:hover{
  background:black;
  color: #3a0ca3; 
  
}

main{
  display: flex;
  justify-content: space-between;
  margin:10rem 20rem;
  width:70%;
}



img{
  height:22rem;
  width:50%;
  margin-right:3rem;
}



