*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
background-color:#003459;
font-family: 'Work Sans', sans-serif;
color:whitesmoke;
}

h1{
    text-align:center;

}

ul{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   height:50vh;
   margin-left: 100px;
   padding-top:100px;

}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color:whitesmoke;
}