*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    background-color:#003459;
    font-family:'Work Sans', sans-serif; ;
    color:whitesmoke;
}

h1{ 
    text-align: center;
    margin-top:50px;

}

.qr{
    margin-top:150px;
    margin-left:41rem;
    width:15%;
    height:35vh;
}

p{
   text-align:center;
   font-size:30px;
   margin-top: 10px;

}

h1 img{
    width:2%;
    
}
